<div class="main-app customer-detail-wrapper" *ngIf="bIsPageLoading">
	<mat-card>
		<mat-card-title>
			<div fxLayout fxLayoutAlign="start center">
				<button mat-icon-button color="primary" class="mr-1" (click)="onBack()">
					<mat-icon>keyboard_return</mat-icon>
				</button>
				Customer Detail
			</div>
		</mat-card-title>

		<mat-card-content>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th>Value</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngIf="bIsPortalLoading">
						<td>Customer Logo</td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==19">
										<img [src]="customerPortal.logo" height="50">
									</div>
	
									<div *ngIf="status===19">
										<fieldset>
											<legend>Logo Upload Option</legend>
											<mat-radio-group [(ngModel)]="bIsUploadWithUrl">
												<mat-radio-button color="primary" [value]="true">Upload with Url</mat-radio-button>
												<mat-radio-button class="ml-2" color="primary" [value]="false">Upload with file</mat-radio-button>
											</mat-radio-group>
	
											<div>
												<div class="form-group" *ngIf="bIsUploadWithUrl">
													<mat-form-field class="full-width">
														<input type="text" matInput [(ngModel)]="paramValue">
													</mat-form-field>
												</div>
	
												<div class="form-group" *ngIf="!bIsUploadWithUrl">
													<input type="file" class="form-control" id="logo_file_upload" name="logo">
												</div>
											</div>
										</fieldset>
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(19)" *ngIf="status!==19">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="updatePortal()" *ngIf="status===19 && !bIsInProgress">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===19 && !bIsInProgress">close</mat-icon>
									<mat-spinner class="small-spinner" color="primary" *ngIf="status===19 && bIsInProgress"></mat-spinner>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Name</td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==1">
										{{ currentCustomer.name }}
									</div>
	
									<div *ngIf="status===1">
										<mat-form-field class="full-width">
											<input type="text" matInput [placeholder]="currentCustomer.name" [(ngModel)]="paramValue" required>
										</mat-form-field>
										<div *ngIf="error" class="alert alert-danger">
											{{error}}
										</div>	
									</div>
								</div>
	
								<div class="pull-right" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(1)" *ngIf="status!==1">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===1">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===1">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Website Uri</td>
						<td>
							<div class="edit-view-wrap" *ngIf="bIsPortalLoading">
								<div class="edit-area">
									<div *ngIf="status!==20">
										{{ customerPortal.path }}
									</div>
	
									<div *ngIf="status===20">
										<mat-form-field class="full-width">
											<input type="text" matInput placeholder="Website Uri" [(ngModel)]="paramValue" required>
										</mat-form-field>
										<div *ngIf="error" class="alert alert-danger">
											{{ error }}
										</div>	
									</div>
								</div>
	
								<div class="pull-right" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(20)" *ngIf="status!==20">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="updatePortal()" *ngIf="status===20 && !bIsInProgress">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===20 && !bIsInProgress">close</mat-icon>
									<mat-spinner class="small-spinner" color="primary" *ngIf="status===20 && bIsInProgress"></mat-spinner>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Customer Industry</td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==2">
										{{currentCustomer.industry}}
									</div>
	
									<div *ngIf="status===2">
										<mat-form-field class="full-width">
											<mat-select [(value)]="paramValue">
												<mat-option *ngFor="let type of INDUSTRY_OPTIONS" [value]="type">
												{{ type }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(2)" *ngIf="status!==2">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===2">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===2">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Headquarter Address</td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==3">
										{{currentCustomer.address}}
									</div>
	
									<div *ngIf="status===3">
										<mat-form-field class="full-width">
											<input type="text" matInput [(ngModel)]="paramValue">
										</mat-form-field>
										<div *ngIf="error" class="alert alert-danger">
											{{error}}
										</div>	
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(3)" *ngIf="status!==3">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===3">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===3">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Customer Email</td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==4">
										{{currentCustomer.email}}
									</div>
	
									<div *ngIf="status===4">
										<mat-form-field class="full-width">
											<input type="text" matInput [(ngModel)]="paramValue">
										</mat-form-field>
										<div *ngIf="error" class="alert alert-danger">
											{{error}}
										</div>	
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(4)" *ngIf="status!==4">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===4">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===4">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Contact1</td>
						<td>
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Title</th>
										<th>Value</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>First Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==7">
														<span *ngIf="currentCustomer.contact1">{{currentCustomer.contact1.firstName}}</span>
													</div>
	
													<div *ngIf="status===7">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(7)" *ngIf="status!==7">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===7">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===7">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Last Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==8">
														<span *ngIf="currentCustomer.contact1">{{currentCustomer.contact1.lastName}}</span>
													</div>
	
													<div *ngIf="status===8">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(8)" *ngIf="status!==8">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===8">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===8">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Email</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==9">
														<span *ngIf="currentCustomer.contact1">{{currentCustomer.contact1.email}}</span>
													</div>
	
													<div *ngIf="status===9">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(9)" *ngIf="status!==9">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===9">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===9">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Phone Number</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==10">
														<span *ngIf="currentCustomer.contact1">{{currentCustomer.contact1.phoneNumber}}</span>
													</div>
	
													<div *ngIf="status===10">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(10)" *ngIf="status!==10">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===10">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===10">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>

					<tr>
						<td>Contact2</td>
						<td>
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Title</th>
										<th>Value</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>First Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==11">
														<span *ngIf="currentCustomer.contact2">{{currentCustomer.contact2.firstName}}</span>
													</div>
	
													<div *ngIf="status===11">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(11)" *ngIf="status!==11">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===11">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===11">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Last Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==12">
														<span *ngIf="currentCustomer.contact2">{{currentCustomer.contact2.lastName}}</span>
													</div>
	
													<div *ngIf="status===12">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(12)" *ngIf="status!==12">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===12">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===12">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Email</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==13">
														<span *ngIf="currentCustomer.contact2">{{currentCustomer.contact2.email}}</span>
													</div>
	
													<div *ngIf="status===13">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(13)" *ngIf="status!==13">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===13">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===13">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Phone Number</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==14">
														<span *ngIf="currentCustomer.contact2">{{currentCustomer.contact2.phoneNumber}}</span>
													</div>
	
													<div *ngIf="status===14">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(14)" *ngIf="status!==14">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===14">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===14">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>

					<tr>
						<td>Company Pin Color </td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div class="color-pattern" [style.background]="currentCustomer.color" *ngIf="status!==5"></div>
									<div *ngIf="status===5">
										<mat-form-field class="full-width">
											<input matInput [(colorPicker)]="paramValue" [style.background]="paramValue" [cpOutputFormat]="'hex'" [cpPosition]="'bottom'" [(ngModel)]="paramValue" />
										</mat-form-field>
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(5)" *ngIf="status!==5">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===5">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===5">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>Emergency Contact</td>
						<td>
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Title</th>
										<th>Value</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>First Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==15">
														<span *ngIf="currentCustomer.emergencyContact">{{currentCustomer.emergencyContact.firstName}}</span>
													</div>
	
													<div *ngIf="status===15">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(15)" *ngIf="status!==15">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===15">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===15">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Last Name</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==16">
														<span *ngIf="currentCustomer.emergencyContact">{{currentCustomer.emergencyContact.lastName}}</span>
													</div>
	
													<div *ngIf="status===16">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(16)" *ngIf="status!==16">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===16">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===16">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Email</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==17">
														<span *ngIf="currentCustomer.emergencyContact">{{currentCustomer.emergencyContact.email}}</span>
													</div>
	
													<div *ngIf="status===17">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(17)" *ngIf="status!==17">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===17">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===17">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<td>Phone Number</td>
										<td>
											<div class="edit-view-wrap">
												<div class="edit-area">
													<div *ngIf="status!==18">
														<span *ngIf="currentCustomer.emergencyContact">{{currentCustomer.emergencyContact.phoneNumber}}</span>
													</div>
	
													<div *ngIf="status===18">
														<mat-form-field class="full-width">
															<input type="text" matInput [(ngModel)]="paramValue">
														</mat-form-field>
														<div *ngIf="error" class="alert alert-danger">
															{{error}}
														</div>	
													</div>
												</div>
	
												<div class="" *ngIf="bIsEditable">
													<mat-icon class="green-text pointer" (click)="editValue(18)" *ngIf="status!==18">edit</mat-icon>
													<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===18">check</mat-icon>
													<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===18">close</mat-icon>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>

					<tr>
						<td>Sign On Date </td>
						<td>
							<div class="edit-view-wrap">
								<div class="edit-area">
									<div *ngIf="status!==6">
										{{currentCustomer.date}}
									</div>
	
									<div *ngIf="status===6">
										<mat-form-field class="full-width">
											<input type="text" matInput [(ngModel)]="paramValue">
										</mat-form-field>
										<div *ngIf="error" class="alert alert-danger">
											{{error}}
										</div>	
									</div>
								</div>
	
								<div class="" *ngIf="bIsEditable">
									<mat-icon class="green-text pointer" (click)="editValue(6)" *ngIf="status!==6">edit</mat-icon>
									<mat-icon class="pointer" color="primary" (click)="update()" *ngIf="status===6">check</mat-icon>
									<mat-icon class="pointer" color="warn" (click)="cancel()" *ngIf="status===6">close</mat-icon>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</mat-card-content>
	</mat-card>
</div>