<div class="sensor-type-info-wrapper m-3" *ngIf="isPageLoading">
	<div class="mb-2" fxLayout="row" fxLayoutAlign="end center"><!--action wrapper-->
		<button mat-raised-button class="btn" [ngClass]="{'btn-primary': nSelectedCategory === 0}" (click)="onChangeCategory(0)">Status</button>
		<button mat-raised-button class="btn ml-2" [ngClass]="{'btn-primary': nSelectedCategory === 1}" (click)="onChangeCategory(1)">VOC Analytics</button>
		<button mat-raised-button class="btn ml-2" [ngClass]="{'btn-primary': nSelectedCategory ===2 }" (click)="onChangeCategory(2)">Debug</button>
	</div><!--action wrapper-->

	<div class="display-wrapper"><!--display wrapper-->
		<table class="table table-hover table-striped table-bordered" *ngIf="!isRowHeader">
			<thead>
				<tr>
					<th *ngFor="let head of selectedSensorType.heads">
						{{head.name}}
					</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th *ngFor="let head of selectedSensorType.heads">
					</th>
				</tr>
			</tbody>
		</table>

		<table class="table table-hover table-striped table-bordered" *ngIf="isRowHeader">
			<thead *ngIf="isHeaderShow">
				<tr>
					<th *ngFor="let head of selectedSensorType.heads">
						{{head.name}}
					</th>
					<th>Type</th>
				</tr>
			</thead>

			<tbody *ngIf="isRowShow">
				<tr *ngFor="let row of selectedSensorType.rows">
					<td>{{row.name}}</td>
					<td *ngFor="let head of selectedSensorType.heads; let i = index;" [ngClass]="{'display-hide': i === 0}">
					</td>
					<td [ngClass]="{capitalize: row.valueType !== PARATYPE[0]}">{{[row.valueType, row.defaultValue] | sensortypeDetail}}</td>
				</tr>
			</tbody>
		</table>
	</div><!--display wrapper-->
</div>
