:host {
  width: 100%;

  .reset-container {
    .mat-card {
      width: 235px;
    }
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
