.sensor-type-detail-wrapper {
  .sensor-type-action-area {
    margin: 0 10px;
  }

  .sensor-type-area {
    font-size: 16px;
    border-right: 1px solid #000;
  }
}

.margin-1-em {
  margin: 1em 0 !important;
}

.error-text {
  color: red;
}

.create-section {
  margin-top: 2em;
}

.left-5 {
  margin-left: 5px;
}

.omniscent-detail-view {
  .action-wrapper {
    align-items: stretch;
  }

  .sensor-type-category-wrap {
    align-items: stretch;
    overflow-y: auto;
    height: 100%;
  }
}
