@import 'src/theme.scss';

:host {
  width: 100%;

  .menu-btn {
    height: 64px;
    font-size: 16px;
  }

  .tool-bar-wrapper {
    background-color: transparent !important;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  
    .button-area {
      button {
        color: #fff;
        width: 100px;
      }
    }
  
    .logo-area {
      height: 100%;
      padding: 10px 0;
      cursor: pointer;
    }
  }
    
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .top-bar-area {
    button {
      height: 32px;
      margin-top: 4px;
    }
  }
}

.menu-button {
  min-width: 50px;
  padding: 0;
}

button.mat-menu-item {
  display: flex;
  flex-flow: row;
  align-items: center;

  mat-icon {
    margin-right: 5px;
    width: 20px;
    color: mat-color($app-primary) !important;
    font-size: 24px;
  }
}
